.furniture_main {
  display: flex;
  align-items: center;
  position: relative;
  span.furniture_f{
    position: absolute;
    color: #faf9f6;
    font: 395px proximanova-bold;
  }
  span.furniture_futur{
    position: absolute;
    color: #faf9f6;
    font: 169px proximanova-bold;
    opacity: 0.5;
  }
  h2.subtitle {
    font: 48px proximanova-bold;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
  }
  span.line{
    height: 51px;
    width: 4px;
    background-color: #a9946e;
  }
  .furniture_item_text {
    text-align: left;
    padding-left: 200px;
    position: relative;
    h2.title {
      font: 48px proximanova-bold;
      text-transform: uppercase;
    }
    h2.title:before {
      content: "";
      height: 1px;
      width: 151px;
      background-color: #000000;
      display: inline-block;
      position: absolute;
      top: 0.5em;
      left: 0px;

    }
    p {
      font: 15px proximanova-regular;
      color: #464646;
      position: relative;
      word-wrap: break-word;
      line-height: 1.5em;
    }
    p:before {
      content: "";
      height: 3px;
      width: 44px;
      background-color: #bea67c;
      display: flex;
      position: absolute;
      top: 0.75em;
      right: 106%;
      margin-right: 30px;
    }
    .link_1 {
      font: 14px proximanova-bold;
      color: #000000;
      text-transform: uppercase;
      a {
        background: transparent;
        outline: none;
        color: #000000;
        text-decoration: none;
      }
    }
      a:after {
        content: "";
        height: 2px;
        width: 44px;
        background-color: #bea67c;
        display: flex;

      }
    }

  }


.decor_main {
  display: flex;
  align-items: center;
  position: relative;
  span.line{
    height: 51px;
    width: 4px;
    background-color: #a9946e;
  }
  span.decor_d{
    position: absolute;
    color: #faf9f6;
    font: 395px proximanova-bold;
  }
  span.decor_decor {
    position: absolute;
    color: #faf9f6;
    font: 169px proximanova-bold;
    opacity: 0.5;
  }
  h2.subtitle {
    font: 48px proximanova-bold;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(0, -100%);
  }
  .decor_item_text {
    text-align: right;
    padding-right: 200px;
    position: relative;
    h2.title {
      font: 48px proximanova-bold;
      text-transform: uppercase;
    }
    h2.title:after {
      content: "";
      height: 1px;
      width: 151px;
      background-color: #000000;
      display: inline-block;
      position: absolute;
      top: 0.5em;
      padding-right: 0%;

    }
    p {
      font: 15px proximanova-regular;
      color: #464646;
      position: relative;
      word-wrap: break-word;
      line-height: 1.5em;
    }
    p:after {
      content: "";
      height: 3px;
      width: 44px;
      background-color: #bea67c;
      display: flex;
      position: absolute;
      top: 0.75em;
      left: 100%;
    }
    .link_1 {
      font: 14px proximanova-bold;
      color: #000000;
      text-transform: uppercase;
      display: inline-block;
      a {
        background: transparent;
        outline: none;
        color: #000000;
        text-decoration: none;

      }
      a:after {
        content: "";
        height: 2px;
        width: 44px;
        background-color: #bea67c;
        display: flex;

    }
    }

  }

}
